
## <summary>policy for procyon</summary>


########################################
## <summary>
##	Transition to procyon.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`procyon_domtrans',`
	gen_require(`
		type procyon_t, procyon_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, procyon_exec_t, procyon_t)
')


########################################
## <summary>
##	Execute procyon server in the procyon domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`procyon_initrc_domtrans',`
	gen_require(`
		type procyon_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, procyon_initrc_exec_t)
')


########################################
## <summary>
##	Search procyon lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`procyon_search_lib',`
	gen_require(`
		type procyon_var_lib_t;
	')

	allow $1 procyon_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read procyon lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`procyon_read_lib_files',`
	gen_require(`
		type procyon_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, procyon_var_lib_t, procyon_var_lib_t)
')

########################################
## <summary>
##	Manage procyon lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`procyon_manage_lib_files',`
	gen_require(`
		type procyon_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, procyon_var_lib_t, procyon_var_lib_t)
')

########################################
## <summary>
##	Manage procyon lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`procyon_manage_lib_dirs',`
	gen_require(`
		type procyon_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, procyon_var_lib_t, procyon_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a procyon environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`procyon_admin',`
	gen_require(`
		type procyon_t;
		type procyon_initrc_exec_t;
		type procyon_var_lib_t;
	')

	allow $1 procyon_t:process { ptrace signal_perms };
	ps_process_pattern($1, procyon_t)

	procyon_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 procyon_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, procyon_var_lib_t)

')

